.AddTodoForm {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  color: black;
  width: 100%;
  margin-bottom: 2vh;
}

.Input {
  margin-left: 1vw;
  width: 30%;
  height: 4vh;
  font-size: 1.5vw;
  border: 0.1vw solid #2d2c2c;
  border-radius: 0.5vw;
  background-color: rgba(217, 212, 212, 0.5)
}
   
.Button {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  font-family: 'Caveat', sans-serif;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: rgba(217, 212, 212, 0.5);
}
  
.Icon {
  margin-right: 0.5vw;
  font-size: 1.5vw;
}

@media only screen and (max-width: 599px) {
  .Input {
    height: 1.5vh;
  }
  .Icon {
    font-size: 1vw;
  }
  .Button {
    font-size: 1.5vw;
  }
}