.todoListItem {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.ListItem {
    color:rgb(32, 33, 32);
    margin-bottom: 0.5vw;
}

.Button {
    margin-left: 1vw;
    font-family: 'Caveat', sans-serif;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: rgba(217, 212, 212, 0.5);
}

.Icon {
    margin-right: 0.5vw;
    font-size: 1vw;
}

@media only screen and (max-width: 599px) {
    .todoListItem {
        font-size: 4vw;
    }
    .ListItem {
        margin-bottom: 1vw;
    }
    .Icon {
        font-size: 3vw;
    }
    .Button {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 600px) {
    .todoListItem {
        font-size: 4vw;
    }
    .ListItem {
        margin-bottom: 1vw;
    }
    .Icon {
        font-size: 3vw;
    }
    .Button {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1200px) {
    .todoListItem {
        font-size: 2vw;
    }
    .ListItem {
        margin-bottom: 0.5vw;
    }
    .Icon {
        font-size: 1vw;
    }
    .Button {
        font-size: 1.3vw;
    }
}